<div class="full-container">

  <ul class="event-list">
    <li class="event-list__item" *ngFor="let item of events" [calendarDrag]="item._id">{{ item.nome }}</li>
  </ul>
  
  <div class="ngx-calendar">
  
    <div class="ngx-calendar__header">
      <div class="ngx-calendar__btn-group">
        <button class="ngx-calendar__btn" (click)="switchMonth(false)"><</button>
        <button class="ngx-calendar__btn" (click)="switchMonth(true)">></button>
      </div>
      <span class="ngx-calendar__label">{{ label }}</span>
    </div>
  
    <div class="ngx-calendar__week-view">
      <div *ngFor="let day of days" class="ngx-calendar__week-day">{{ day | slice:0:3 }}</div>
    </div>
  
    <div class="ngx-calendar__container">
      <div *ngFor="let month of calendar" class="ngx-calendar__row">
        <div *ngFor="let day of month" class="ngx-calendar__cell" [calendarDrop]="day?.events">
          <div class="ngx-calendar__cell-element">
            <span class="ngx-calendar__indicator">{{ day?.day }}</span>
            
            <ul class="ngx-calendar__group-event">
              <li *ngFor="let event of day?.events" class="ngx-calendar__group-item" [calendarDrag]="event">{{eventList[event]}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
